
# build & binaries
.dart_tool/
**/build/
android/.gradle/
android/app/build/
ios/Pods/
*.apk
*.aab
emulator/
android_backup/


# IDE & tooling
.idea/
.vscode/
*.iml
.flutter-plugins
.flutter-plugins-dependencies

